apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  # [TEMPORARY] Ingress is disabled due to AWS LoadBalancer issues.
  - ingress.yaml

patches:
  # [TEMPORARY] Switch Gateway to NodePort for testing while waiting for ALB fix.
  # Remove this patch when re-enabling Ingress.
  # - path: patch-gateway-nodeport.yaml
  - path: patch-db-endpoint.yaml
  - patch: |-
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: app-config
        namespace: estate-rental
      data:
        FRONTEND_URL: "http://k8s-estatere-estatere-ff3c605b78-17782650.eu-west-1.elb.amazonaws.com"
